/* new menu */
#sage-nav {
  list-style-type: none; height: 2em; padding: 0; margin: 0; clear:both;
  position: relative;
  z-index:2;
  white-space: nowrap;
  border-bottom: 1px solid #7f7fff;
  padding-left: 10px;
  background: #fff;
}
#sage-nav > li     { float: left; position: relative; padding: 0; line-height: 1em; }
#sage-nav > li a   { display: block; padding: 5px 15px 5px 5px; color: #090999; text-decoration: none; border: 1px solid transparent;}
#sage-nav > li > ul  {  display: none; opacity: 0;
  position: absolute; left: 0; min-width: 8em; background: #efefff; list-style-type: none; padding: 0; margin: 0 0 0px 0; 
  border: #0f0fff 1px solid; 
}
#sage-nav > li:hover, #sage-nav > li.hovered { box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5); }
#sage-nav > li:hover > ul, #sage-nav > li.hovered > ul {
    display: block; opacity: 1;
}
#sage-nav > li:hover > a, #sage-nav > li.hovered > a
    { background: #efefff; border: #0f0fff 1px solid; border-bottom: 0; z-index:10; position:relative; top: 1px}
#sage-nav > li > ul > li       { display: none; float: none; margin: 0; padding:0; position: static; height: 0; line-height: 0; background: none; border: 0;}
#sage-nav > li > ul > li > a {
border: 0;
display: none;
line-height: 0;
height: 0;
border: 0;
padding: 0;
margin: 0;
}
#sage-nav > li:hover   > ul,
#sage-nav > li.hovered > ul { box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.5); }
#sage-nav > li:hover   > ul > li,
#sage-nav > li.hovered > ul > li {
display: block; 
height: 30px;
line-height: 30px;
background: #efefff;
}
#sage-nav > li:hover   > ul > li > a,
#sage-nav > li.hovered > ul > li > a {
background: #efefff;
border: 0;
display: block; 
height: 30px;
line-height: 30px;
padding: 0 5px; 
}
#sage-nav > li > ul > li > a       { background: #efefff; }
#sage-nav > li > ul > li > a:hover { background: #fff; }
#sage-nav > li > ul > li.section   { border-top: 1px solid #0f0fff; }
#save-nav > li:hover > a:hover { background: #fff; }

/*
#sage-nav > li           { transition: all 0.2s; }
#sage-nav > li > ul      { transition: all 0.2s; }
*/

#sage-nav a.ext::after {
  content: "\2197";
  padding-left: .3em;
}
