<div class="footer-mod">
             

        <p class="follow">
         
          <a href="https://twitter.com/a___boy"><img src="assets/icon-team-twitter.png" alt="Icon team twitter" width="24"></a>
          <a href="http://facebook.com/avvboy"><img src="assets/icon-team-facebook.png" alt="Icon team facebook" width="24"></a>
          <a href="http://instagram.com/a_boy"><img src="assets/icon-team-instagram.png" alt="Icon team instagram" width="24"></a>
          <a href="/stories">
            <img src="assets/icon-team-blog.png" alt="Icon team blog" width="24">
		  <a href="https://dribbble.com/a_boy"><img src="assets/icon-team-dribbble.png" alt="Icon team dribbble" width="24"></a>
</a>        </p>
      </div>