body {
    background-color: #e7e7e7;
    text-align: center;
}


#sampletext {
  position: absolute; 
  font : italic bold 60px arial;
  color : #aaaaaa;
  margin-top : 200px;
}


#slideshow > div { 
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
}

